<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cookienotificationbanner>
            <functional>
                <activation>1</activation>
                <lifetime>34128000</lifetime>
            </functional>
            <design>
                <message>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies ou autres traceurs pour améliorer la qualité de votre visite, vous proposer des services et offres adaptées ainsi que des options de partage social.</message>
                <message_text_color>FFFFFF</message_text_color>
                <message_background_color>000000</message_background_color>
                <btn_more_text>Pour en savoir plus et paramétrer les traceurs</btn_more_text>
                <btn_more_text_color>FFFFFF</btn_more_text_color>
                <btn_more_background_color>000000</btn_more_background_color>
                <btn_more_link_destination>"#cookie_notification_banner"</btn_more_link_destination>
                <btn_allow_text>Ok, j’accepte</btn_allow_text>
                <btn_allow_text_color>FFFFFF</btn_allow_text_color>
                <btn_allow_background_color>000000</btn_allow_background_color>
                <position>top</position>
            </design>
        </cookienotificationbanner>
    </default>
</config>
